# Data cleaning

## Importing libraries

In [2]:
import pandas as pd
import os

### Loading data

In [3]:
sales=pd.read_csv("\\Datasets and Projects\\SALES\\Data\\Raw\\Sales Records.csv")
sales.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Australia,Meat,Online,C,4/4/2011,451691138,5/23/2011,4300,421.89,364.69,1814127.00,1568167.00,245960.00
1,Asia,Tajikistan,Personal Care,Online,L,7/12/2018,144177377,8/1/2018,4145,81.73,56.67,338770.85,234897.15,103873.70
2,Sub-Saharan Africa,Mozambique,Cosmetics,Online,H,7/6/2011,982716166,7/17/2011,6407,437.20,263.33,2801140.40,1687155.31,1113985.09
3,Central America and the Caribbean,Panama,Personal Care,Offline,L,5/1/2011,784543836,5/11/2011,2810,81.73,56.67,229661.30,159242.70,70418.60
4,North America,Canada,Fruits,Online,H,11/15/2013,137209212,12/29/2013,2110,9.33,6.92,19686.30,14601.20,5085.10

### Counting the number of rows and columns, detecting empty values, defining columns data type

In [4]:
print(sales.shape)

(2000000, 14)

In [5]:
print(sales.isna().sum())

Region            0
Country           0
Item Type         0
Sales Channel     0
Order Priority    0
Order Date        0
Order ID          0
Ship Date         0
Units Sold        0
Unit Price        0
Unit Cost         0
Total Revenue     0
Total Cost        0
Total Profit      0
dtype: int64

In [6]:
print(sales.dtypes)

Region             object
Country            object
Item Type          object
Sales Channel      object
Order Priority     object
Order Date         object
Order ID            int64
Ship Date          object
Units Sold          int64
Unit Price        float64
Unit Cost         float64
Total Revenue     float64
Total Cost        float64
Total Profit      float64
dtype: object

### Making columns required type

In [7]:
sales['Order Date'] = pd.to_datetime(sales['Order Date'])
sales['Ship Date'] = pd.to_datetime(sales['Ship Date'])

### Adding year, month and day columns

In [8]:
sales['Order Year']=sales['Order Date'].apply(lambda x: x.strftime('%Y'))
sales['Order Month']=sales['Order Date'].apply(lambda x: x.strftime('%B'))
sales['Order Day']=sales['Order Date'].apply(lambda x: x.strftime('%A'))
sales['Ship Month']=sales['Ship Date'].apply(lambda x: x.strftime('%B'))
sales['Ship Day']=sales['Ship Date'].apply(lambda x: x.strftime('%A'))

### Adding delivery time  and production  profitability columns

In [9]:
sales['Delivery time'] = sales['Ship Date'].sub(sales['Order Date'], axis=0)
sales['Profitability'] = round(((sales['Total Profit']/sales['Total Cost'])*100), 2)
sales['Unit Profit'] = (sales['Unit Price']-sales['Unit Cost'])

### Changing columns order

In [10]:
column_names = ['Region','Country', 'Item Type', 'Sales Channel', 'Order Priority', 'Order ID',
                'Order Date', 'Order Year', 'Order Month', 'Order Day',
                'Ship Date', 'Ship Month', 'Ship Day', 'Delivery time',
                'Units Sold', 'Unit Price', 'Unit Cost', 'Unit Profit', 'Total Revenue', 'Total Cost', 'Total Profit',
                'Profitability']
sales = sales.reindex(columns=column_names)
sales.sort_values(by=['Order Date'], inplace=True, ascending=True, ignore_index=True)

In [11]:
sales.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order ID,Order Date,Order Year,Order Month,Order Day,...,Ship Day,Delivery time,Units Sold,Unit Price,Unit Cost,Unit Profit,Total Revenue,Total Cost,Total Profit,Profitability
0,Central America and the Caribbean,Cuba,Fruits,Online,L,978111779,2010-01-01,2010,January,Friday,...,Saturday,1 days,3866,9.33,6.92,2.41,36069.78,26752.72,9317.06,34.83
1,Middle East and North Africa,Iraq,Household,Offline,M,899159562,2010-01-01,2010,January,Friday,...,Friday,28 days,151,668.27,502.54,165.73,100908.77,75883.54,25025.23,32.98
2,Europe,Germany,Snacks,Online,M,936589038,2010-01-01,2010,January,Friday,...,Wednesday,40 days,6364,152.58,97.44,55.14,971019.12,620108.16,350910.96,56.59
3,Asia,Turkmenistan,Office Supplies,Online,M,192446839,2010-01-01,2010,January,Friday,...,Thursday,13 days,8151,651.21,524.96,126.25,5308012.71,4278948.96,1029063.75,24.05
4,Central America and the Caribbean,Dominica,Snacks,Online,C,649669063,2010-01-01,2010,January,Friday,...,Saturday,36 days,368,152.58,97.44,55.14,56149.44,35857.92,20291.52,56.59

### Saving processed data

In [12]:
os.chdir('\\Datasets and Projects\\SALES\\Data\\Processed\\')

In [13]:
sales.to_csv('Sales Dataset(processed data).csv', index=False)